:root {
  --pinegreen: #3b8e74;
  --pearl: #f3f3f3;
  --darkness: #323232;
  --light-darkness: #595959;
  --sand: #927250;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
    width: 100vw;
    max-width: 768px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--darkness);
    color: var(--pearl);
    font-family: "Hind Guntur", sans-serif;

}

#wrapper {
    position: relative;
    width: inherit;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: var(--darkness);
   
}

#logo {
    position: absolute;
    top: 3px;
    left: 25px;
    z-index: 3;
}

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    width: inherit;
    max-width: inherit;
    align-items: center;
    justify-content: center;
    z-index: 2;
    height: 267px;
    border-bottom: 5px solid var(--pinegreen);
}

.header {
    width: inherit;
    max-width: inherit;
    position: fixed;
    top: 3vh;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 3;
}

#navBar {
    visibility: hidden;
    height: 0px;
    width: 0px;
}

.semiWide, .wide, #newsLetter p {
  display: none !important;
}

.greenButton {
    border: none;
    background-color: transparent;
    padding-top: 5%;
   }

  

   #logo, #hamburgerIcon {
    margin-top: 0px;
   }

#hamburgerIcon {
    visibility: visible;
    position: absolute;
    top: -5px;
    right: 40px;
    z-index: 3;
}

#posterName {
    margin-bottom: 1%;
}

#hiddenMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 60vw;
  background-color: var(--pinegreen);
  gap: 30px;
  z-index: 4;
  border-radius: 0px 0px 20px 0px;
  text-align: center;
}

#hiddenLogo {
  margin: 0px;
  padding: 30px 0px;
}

#hiddenMenu #myPages {
 margin-bottom: 10px;
}


#hiddenMenu nav a:hover, nav a:hover {
  text-decoration: underline;
  color: var(--sand);
}

#hiddenMenu nav {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}



#hiddenMenu button{
   display: block;
   border: none;
   background-color: transparent;
}

#hiddenMenu:last-child {
 margin-bottom: 50px;
}

#hiddenMenu a {
  color: var(--pearl);
  cursor: pointer;
}


#navBar .navbarItem {
  margin-right: 1.5vw;
}

/*.navbarItem img {
  display: none;
  margin-top: -8px;
}*/

.posterDiv {
    max-width: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Hind Guntur', Arial, Helvetica, sans-serif;
}

.current {
    max-width: inherit;
    width: inherit;
    height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.movieHeader {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    margin-bottom: 10%;
    
}

nav a, #hiddenMenu {
  font-family: "work-sans", sans-serif;
  font-size: 15px;
}

.line {
    margin-top: -3%;
}

.current h2 {
    font-size: 32px;
    margin: 0vw 5vw;
}

.movieRow {
    max-width: inherit;
    width: inherit;
    height: 267px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: -5%;
}

.movieRow .greenButton {
    margin-top: -10%;
}

.posterAndName {
    display: flex;
    flex-direction: column;
    width :167px;
    height: 267px;
    margin: 10px;
}

.poster {

    width: 167px;
    height: 245px;
    border-radius: 5%;
    border: 1px solid white;
}

.posterh4 {
  margin-top: 5px;
}

.circles {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.circles img {
    margin: 0.5vw;
}

#offers {
    height: 605px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: inherit;
    width: inherit;
    margin-bottom: 10%;
}

#erbjudande {
    width: 345px;
    height: 247px;

}

p {
    font-size: 16px;
    width: 304px;
    font-family: 'Work Sans', sans-serif;
}

#studentOffer {
    margin-top: 5%;
    height: 360px;
    width: 345px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #474747;
}

#newsLetter {
    width: inherit;
    max-width: inherit;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -5%;
}

#newsLetter h2 {
    font-size: 32px;
    width: 300px;
}

#newsLetter input {
    margin: -20px 0px;
    width: 339px;
    height: 50px;
    border-radius: 20px;
    color: #323232;
   font-size: 16px;
   padding-left: 10px;
}

.footer {
    background-color: var(--pinegreen);
    text-align: ce;
    color: var(--pearl);
    font-family: "Work Sans", sans-serif;
  }
  .footer-container {
    padding: 80px 25px;
  }
  .footer-inner-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .footer-menu ul {
    list-style: none;
    font-size: 20px;
  }
  .footer-menu li {
    padding: 10px 5px;
  }
  .footer-menu a {
    text-decoration: none;
    color: var(--pearl);
  }
  .footer-menu li:hover {
    text-decoration: underline;
  }
  .button-signup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--pearl);
    color: var(--darkness) !important;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    transition: all 200ms ease-in-out;
  }
  .button-signup:hover {
    background: var(--darkness);
    color: var(--pearl) !important;
    cursor: pointer;
  }
  .button-text {
    padding-right: 10px;
  }
  .footer-menu li:hover {
    text-decoration: underline;
  }
  .footer-signup {
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--pearl);
  }
  .text-signup {
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
  }
  .app-and-social {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  .app img {
    width: 50%;
  }
  .social {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .fa-brands {
    text-decoration: none;
    color: var(--pearl);
    font-size: 38px;
    transition: all 200ms ease-in-out;
  }
  
  .fa-brands:hover {
    color: var(--sand);
  }
  .copyright {
    font-size: 14px;
  }
  .copyright {
    margin-top: 50px;
  }

@media screen and (min-width: 768px) {

  #navBar {
    position: absolute;
    width: 50vw;
    top: 8px;
    right: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    visibility: visible;
    justify-content: flex-end;
    font-weight: lighter;
}

#navBar img {
  display: flex;
  margin-top: 2px;
}

#altText {
  display: none;
}

#navBar button {
background-color: transparent;
border: none;
}

#hamburgerIcon, #hiddenMenu, #altText {
    visibility: hidden;
    width: 0px;
    height: 0px;
}

  #logo {
    top: 14px;
  }

body, #wrapper {
    max-width: 100vw;
}

.hero {
    display: flex;
    flex-direction: column;
    max-width: inherit;
    max-height: 600px;
    height: calc(100vw/1.4);
    margin-bottom: 10%;

}

.header {
    position: fixed;
    top: 0px;
    right: 0px;
    width: inherit;
    max-width: inherit;
    height: 100px;
}

#logo {
    position: absolute;
    top: 14px;
    left: 25px;
}

.current {
  margin-top: 8%;
}

.movieRow  {
  margin-top: -2.5%;
}

#newsLetter {
  margin-top: 0px;
}


.semiWide {
  display: inherit !important;
}

.greenButton {
  padding-top: 7.5%;
}

.circles {
  margin-top: 7.5%;
}

.footer-container {
  padding: 50px 64px;
}
.footer-inner-container {
  margin: 0 auto;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
}
.footer-signup {
  justify-content: flex-start;
  width: 33%;
}
.fa-brands {
  font-size: 28px;
}
.app img {
  width: 100%;
}
.footer-menu ul {
  list-style: none;
  font-size: 16px;
}
.copyright {
  margin-top: 60px;
}

}

@media (min-width: 1200px) {

 

  .wide, #newsLetter p {
    display: inherit !important;
  }




.hero {
    max-width: inherit;

}

.posterDiv {
  font-size: 42px;
}

#posterName {
    margin-bottom: -20px;
}

#offers {
  position: relative;
  display: flex;
  flex-direction: row;
  width: inherit;
  max-width: inherit;
  margin-bottom: -15%;
}

#offers .movieHeader {
    position: absolute;
    top: -15px;
}


#offers .movieRow {
  margin: 0px;
margin-top: -3%;
min-width: 345px;
max-width: 345px;
margin-bottom: 3%;
height: 247px;

}
#offers #studentOffer {
  margin: 0px;
  margin-top: -3%;
  margin-bottom: 3%;
  min-width: 345px;
  max-width: 345px;
  
  height: 247px;
  
  
}


#newsLetter {
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(7,1fr);
  width: inherit;
  max-width: inherit;
}


#newsLetter h2, #newsLetter p {
  width: inherit;
  max-width: inherit;
  grid-column: 1/-1;
}

#newsLetter p {
  margin-top: -5%;
}

#newsLetter input {
  margin-top: -30%;
  grid-column: 3/5;
}

#newsLetter img {
  margin-top: -50%;
}

.footer-inner-container {
  width: 50%;
}

  }

  

  

  @media (min-width: 1400px) {

    #offers {
      margin-bottom: -12%;
    }

    #erbjudande, #offers #studentOffer  {
      margin-bottom: 4%;
      margin-top: 0px;
      height: 300px;
      width: 400px;
      max-width: 400px;
      border-radius: 5%
      
    }

    #offers #studentOffer  {
      margin-top: -50px;
      margin-left: 60px;
    }

    #erbjudande {
      margin-right: -60px;
    }
   
  }

  @media (min-width: 2000px) {

   
    #offers #studentOffer  {
      margin-top: -30px;
  }

  #erbjudande {
    margin-top: 25px;
  }

  #offers {
    margin-bottom: -10%;
  }

}

@media (min-width: 2500px) {

#erbjudande {
  margin-top: 35px;
}
}


